@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Staatliches&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}
.container .left_side {
    position: relative;
    background-color: #003147;
    padding: 40px;
    
}   
.container .right_side {
    position: relative;
    background-color: #fff;
    padding: 40px;
    
}
.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.profileText h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profileText h2 span {
    font-size: 0.8em;
    font-weight: 300;
}
.profileText .imgBox {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.contactInfo {
    padding-top: 30px;
}
.contactInfo ul {
    position: relative;
}
.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}
.contactInfo ul li span {
    color: #fff;
    font-weight: 300;
}
.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
}
.contactInfo.education li {
    margin-bottom: 15px;
}
.contactInfo.education h5 {
    color: #03a9f4;
    font-weight: 500;
}
.contactInfo.education h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
}
.contactInfo.education h4 {
    color: #fff;
    font-weight: 500;
}
.contactInfo.languages .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: black;
    display: block;
    margin-top: 5px;
}
.contactInfo.languages .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #03a9f4;
}
.about {
    margin-bottom: 50px;
}
.about:last-child {
    margin-bottom: 0px;
}
.title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p {
    color: #333;
}
.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .text h4 {
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}
.about .box .year_company {
    min-width: 150px;
}
.about .box .year_company h5 {
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}
.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;

}
.skills .box h4 {
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}
.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: lightblue;
}
.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #2a7da2;
}
@media (max-width: 1000px) {
    .container {
        margin: 0px;
        grid-template-columns: repeat(1,1fr);
    }
    .contactData ul li{
        display: flex;
        justify-content: center;
    }
    .education ul li{
        text-align: center;
    }
}
@media (max-width: 600px) {
    .about .box {
        flex-direction: column;
    }
    .about .box .year_company {
        margin-bottom: 5px;
    }
    .skills .box {
        grid-template-columns: repeat(1,1fr);
    }
}
a {
    text-decoration: none;
}
.schoolLink {
    color: white;
}
.button-43 {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.buttons a:visited {
    text-decoration: none;
    color: white;
}
.buttons a {
    text-decoration: none;
    color: white;
}
.button-43:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}
.skills .qr {
    display: none;
}
@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}

@media print {
    .button-43 {
        display: none;
    }
    .container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    grid-template-columns: 1fr 2fr;
    }
    .about p {
        font-size: 12px;
    }
.container h2 {
    font-size: 15px;
}
.email-text {
    font-size: 14px;
}
.container h4  {
    font-size: 12px;
}
.skills .box {
    display: none;
}
.skills .qr {
    display: flex;
    justify-content: center;
    align-items: center;
}
.education a {
    display: none;
}
.right_side a {
    display: none;
}
  }
